In [4]:
# 1. Find the sum of even numbers only. 
#  Input: [10, 13, 15, 18, 20] 
#  Output: 48 

a = [10, 13, 15, 18, 20] 

sm = 0

for i in a:
    if i % 2 == 0:
        sm += i
print(sm)

48

In [ ]:
# 2. Multiply all elements in a list. 
#  Input: [2, 3, 4] 
#  Output: 24

b = [2,3,4]

mul = 1

for i in b:
    mul *= i
print(mul)

24

In [12]:
# 3️. Find the difference between max and min in a list.
#  Input: [10, 20, 5, 40] 
# Output: 35

li = [ 10,20,5,40]

mx = max(li)
mi = min(li)

diff = mx-mi

print(diff)

35

In [ ]:
li = [10,20,5,40]

max_val = li[0]
min_val = li[0]

for i in li:
    if i > max_val:
        max_val = i
    if i < min_val:
        min_val = i
print(max_val)
print(min_val)

40
5

In [27]:
# 4️. Extract first 4 elements of a list.
#  Input: [5, 8, 12, 20, 25, 30]
#  Output: [5, 8, 12, 20]

lis = [5, 8, 12, 20, 25, 30]
count = 0
new_lis = []

for i in lis:
    if count == 4:
        break
    new_lis.append(i)
    count+=1
print(new_lis)

[5, 8, 12, 20]

In [8]:
# 5️. Print elements in reverse order (without using reverse or slicing) 
# Input: [1, 2, 3] 
# Output: 3 2 1

li = [1,2,3]
new_lis = []


for i in range(len(li)-1,-1,-1):
    new_lis.append(li[i])
print(new_lis)

[3, 2, 1]

In [13]:
# 6. Print numbers greater than 50. 
# Input: [20, 55, 80, 30] 
# Output: [55, 80]

num = [20,55,80,30]
Greater_num = []

for i in num:
    if i > 50:
        Greater_num.append(i)
print(Greater_num)

[55, 80]

In [14]:
# 7. Remove all odd numbers. 
# Input: [2, 3, 4, 5, 6] 
# Output: [2, 4, 6]

li = [2,3,4,5,6]
new_lis = []

for i in li:
    if i % 2 == 0:
        new_lis.append(i)
print(new_lis)

[2, 4, 6]

In [19]:
# 8. Convert list of strings to uppercase. 
# Input: ['hello', 'world'] 
# Output: ['HELLO', 'WORLD']

lat = ["hello","world"]
new_lat = []

for i in lat:
    new_lat.append(i.upper())
print(new_lat)

['HELLO', 'WORLD']

In [22]:
# 9. Convert string of numbers into list. 
# Input: "12345" 
# Output: ['1', '2', '3', '4', '5'] 

num =  "12345"
up_num = []

for i in num:
    up_num.append(i)
print(up_num)

['1', '2', '3', '4', '5']

In [24]:
# 10. Calculate average excluding highest and lowest value. 
# Input: [10, 20, 30, 40, 50] 
# Output: 30.0

num = [10,20,30,40,50]

highest = num[0]
lowest = num[0]


for i in num:
    if i > highest:
        highest = i
    if i < lowest:
        lowest = i

avg = (highest + lowest) //2

print(avg)

30

In [1]:
# 11. Find product of numbers at even index positions. 
# Input: [2, 3, 4, 5, 6] 
# Output: 48 (2×4×6) 

num = [2, 3, 4, 5, 6]
product = 1

for i in range(len(num)):
    if i % 2 == 0:
        product *= num[i]

        
print(product,"(2*4*6)")

48 (2*4*6)

In [4]:
# 12️ . Count number of vowels in a list of characters. 
# Input: ['a','b','e','i','o'] Output: 4

a = ['a','b','e','i','o']
vovel = 0

for i in a:
    if i in "aeiou":
        vovel += 1
print(vovel)

4

In [9]:
# 13. Remove all vowels from a list of characters. 
# Input: ['h','e','l','l','o'] 
# Output: ['h', 'l', 'l']

a = ['h','e','l','l','o']
b = []
for i in a:
    if i not in "aeiou":
        b.append(i)
print(b)

['h', 'l', 'l']

In [11]:
# 14. Find second smallest number. 
# Input: [8, 2, 5, 1, 9] 
# Output: 2

a = [8,2,5,1,9]
for i in a:
    a.remove(min(a))
    break
print(min(a))

2

In [10]:
# 15. Sort list without using sort() or sorted(). 
# Input: [5, 2, 8, 1] 
# Output: [1, 2, 5, 8]

a = [5, 2, 8, 1]
for i in range(len(a)):
    for j in range(i+1, len(a)):
        if a[i] > a[j]:
            a[i], a[j] = a[j], a[i]
print(a)

[1, 2, 5, 8]

In [ ]:
# 16. Print diagonal elements from 3x3 matrix. 
# Input: [[1,2,3],[4,5,6],[7,8,9]] 
# Output: [1, 5, 9] 
matrix = [[1,2,3],[4,5,6],[7,8,9]]
diagonal = []
for i in range(len(matrix)):
    diagonal.append(matrix[i][i])
print(diagonal)

[1, 5, 9]

In [13]:
# 17. Sum of all elements in nested list. 
# Input: [[1, 2], [3, 4], [5, 6]] 
# Output: 21

nested_list = [[1, 2], [3, 4], [5, 6]]
total_sum = 0
for sublist in nested_list:
    for item in sublist:
        total_sum += item
print(total_sum)

21

In [ ]:
# 18. Replace all 'a' with 'z' in list of characters. 
# Input: ['a','b','c','a'] 
# Output: ['z','b','c','z']

chars = ['a','b','c','a']
for i in range(len(chars)):
    if chars[i] == 'a':
        chars[i] = 'z'
print(chars)

In [14]:
# 19. Find number of times '5' appears in list. 
# Input: [5,5,3,2,5] 
# Output: 3

chars = [5,5,3,2,5]
count = 0
for i in chars:
    if i == 5:
        count += 1
print(count)

3

In [ ]:
# 20. Find all pairs with sum greater than 10. 
# Input: [2, 8, 5, 7] 
# Output: [(2,8),(2,7),(8,5),(8,7),(5,7)] 

nums = [2, 8, 5, 7]
pairs = []
for i in nums:
    for j in nums:
        if i != j and i + j > 10:
            pairs.append((i, j))

print(pairs)

# error hai

[(8, 5), (8, 7), (5, 8), (5, 7), (7, 8), (7, 5)]

In [18]:
# 21. Create list of multiples of 4 upto 40. 
# Output: [4, 8, 12, 16, 20, 24, 28, 32, 36, 40] 

multiples_of_4 = []
for i in range(4, 41, 4):
    multiples_of_4.append(i)
print(multiples_of_4)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [19]:
# 22. Create pattern list [1,2,2,3,3,3,4,4,4,4] 
# Output: [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

pattern = []
for i in range(1, 5):
    for j in range(i):
        pattern.append(i)
print(pattern)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

In [20]:
# 23. Find cumulative product. 
# Input: [1, 2, 3, 4] 
# Output: [1, 2, 6, 24]

input_list = [1, 2, 3, 4]
cumulative_product = [] 
product = 1
for i in input_list:
    product *= i
    cumulative_product.append(product)
print(cumulative_product)

[1, 2, 6, 24]

In [21]:
# 24. Count numbers between 50 and 100. 
# Input: [23, 76, 98, 45, 50] 
# Output: 3

chars = [23, 76, 98, 45, 50]
count = 0
for i in chars:
    if 50 <= i <= 100:
        count += 1
print(count)

3

In [22]:
# 25. Create all possible pairs from [1,2] and [3,4] 
# Output: [(1,3), (1,4), (2,3), (2,4)]

chars = [1,2]
chars2 = [3,4]
pairs = []
for i in chars:
    for j in chars2:
        pairs.append((i, j))
print(pairs)

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [23]:
# 26. Find common elements between 3 lists. 
# Input: [1,2,3], [2,3,4], [3,4,5] 
# Output: [3] 

list1 = [1,2,3]
list2 = [2,3,4]
list3 = [3,4,5]

common_elements = []
for i in list1:
    if i in list2 and i in list3:
        common_elements.append(i)
print(common_elements)

[3]

In [24]:
# 27. Find length of longest word in list. 
# Input: ['hi', 'world', 'python'] 
# Output: 6
words = ['hi', 'world', 'python']
longest_length = 0
for word in words:
    if len(word) > longest_length:
        longest_length = len(word)
print(longest_length)

6

In [25]:
# 28. Replace duplicate values with -1. 
# Input: [1,2,2,3] 
# Output: [1,2,-1,3]
chars = [1,2,2,3]
seen = set()
result = []
for i in chars:
    if i in seen:
        result.append(-1)
    else:
        result.append(i)
        seen.add(i)
print(result)

[1, 2, -1, 3]

In [26]:
# 29. Convert list of integers to list of their squares. 
# Input: [2,3,4] 
# Output: [4,9,16]
nums = [2,3,4]
squares = []
for num in nums:
    squares.append(num ** 2)
print(squares)

[4, 9, 16]

In [27]:
    # 30. Split list into 2 halves. 
    # Input: [1,2,3,4,5,6] 
    # Output: ([1,2,3],[4,5,6])
lst = [1,2,3,4,5,6]
mid = len(lst) // 2 
first_half = lst[:mid]
second_half = lst[mid:]
print((first_half, second_half))

([1, 2, 3], [4, 5, 6])

In [2]:
# 31. Count how many numbers are divisible by 5. 
# Input: [5, 10, 13, 20, 7] 
# Output: 3

a = [5, 10, 13, 20, 7]

count = 0

for i in a:
    if i % 5 == 0:
        count += 1
print(count)

3

In [8]:
# 32. Replace negative numbers with 0. 
# Input: [2, -3, 5, -6] 
# Output: [2, 0, 5, 0] 

a = [2, -3, 5, -6] 

update_a = []

for i in a:
    if i < 0 :
        update_a.append(0)
    else:
        update_a.append(i)
print(update_a)

[2, 0, 5, 0]

In [17]:
# 33. Find product of numbers at odd index positions. 
# Input: [3, 4, 5, 6] 
# Output: 4×6 = 24 

num = [3, 4, 5, 6] 
sum_odd = 1
for i in range(len(num)):
    if i % 2 != 0:
        sum_odd *= num[i]
print(sum_odd)

24

In [1]:
# 34. Find sum of digits of all numbers in list. 
# Input: [23, 45, 67] 
# Output: 2+3+4+5+6+7 = 27 
num = [23, 45, 67]
total_sum = 0
for number in num:
    for digit in str(number):
        total_sum += int(digit)
print(total_sum)

27

In [21]:
# 35. Find minimum and maximum element without using min(), max(). 
# Input: [10, 25, 5, 70] 
# Output: 5, 70 

num = [10, 25, 5, 70]

min_n = num[0]
max_n = num[0]

for i in num:
    if min_n > i:
        min_n = i

    if max_n < i:
        max_n = i

print(min_n,max_n)

5 70

In [33]:
# 36. Move all zeroes to the end. 
# Input: [0, 1, 0, 3, 0, 5] 
# Output: [1, 3, 5, 0, 0, 0]

a = [0,1,0,3,0,5]

# li = []
# li2 = []
# for i in range(len(a)):
#     if i == 0:
#         li.append(i)
# print(li)
for i in range(len(a)):
    for j in range(i+1, len(a)):
        if a[i] == 0 and a[j] != 0:
            a[i], a[j] = a[j], a[i]
print(a)

[1, 3, 5, 0, 0, 0]

In [16]:
# 37️ . Find elements that appear only once. 
# Input: [2, 2, 3, 4, 4, 5]
# Output: [3, 5]

a = [2,2,3,4,4,5]
new_a = []
for i in a:
    if a.count(i) == 1:
        new_a.append(i)
print(new_a)

[3, 5]

In [25]:
# 38️ . Separate even and odd numbers.
#  Input: [1, 2, 3, 4, 5]
#  Output: Even:[2,4], Odd:[1,3,5]

a = [1,2,3,4,5]

even = []
odd = []

for i in a:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
print("even:",even,",","odd:",odd)

even: [2, 4] , odd: [1, 3, 5]

In [4]:
# 39️ . Swap first and last elements.
#  Input: [1, 2, 3, 4] Output: [4, 2, 3, 1]

a = [1,2,3,4]

a[0],a[-1] = a[-1],a[0]

print(a)

[4, 2, 3, 1]

In [ ]:
# swap value without third variable
a = 1
b = 2

a,b = b,a
print(a,b)

2 1

In [6]:
# 40. Sum of largest 2 numbers. 
# Input: [5, 20, 12, 8] 
# Output: 32 

lst = [5,20,12,8]

larg = []

for i in lst:
    if len(larg) < 2:
        larg.append(i)
    else:
        if i > min(larg):
            larg.remove(min(larg))
            larg.append(i)
print(sum(larg))

32

In [11]:
# 41. Remove all occurrences of a particular element. 
# Input: [2, 3, 4, 2, 5] (Remove 2) 
# Output: [3, 4, 5]

lst = [2,3,4,2,5]

upd = []

for i in range(len(lst)):
    if lst[i] == lst[i]:
      lst.remove(i)
    else:
        upd.append(i)
print(upd)

ValueError: list.remove(x): x not in list