# for loop

Range function

In [1]:
range(5)

range(0, 5)

In [2]:
list(range(5))

[0, 1, 2, 3, 4]

In [3]:
list(range(3,15))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [4]:
list(range(3,15,4))

[3, 7, 11]

In [5]:
list(range(15,5))

[]

In [6]:
list(range(33,15,-1))

[33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16]

In [7]:
list(range(33,15,-2))

[33, 31, 29, 27, 25, 23, 21, 19, 17]

In [ ]:
list(range(33,15,-19))# only starting point dega

[33]

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [14]:
a = "python"

b = "java"

print(a,b)
print(a,b, sep="*")

python java
python*java

In [2]:
lst = ["abhi","das","sam"]

for i in lst:
    print(i)
    print("loop execuit again")
print("loop end")

abhi
loop execuit again
das
loop execuit again
sam
loop execuit again
loop end

In [6]:
for i in range(10,100):
    if i % 2 == 0:
        print(i, end=" ")

10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [ ]:


a = 45
b = 90

print(a)
print(b)

45
90

In [12]:
# swap variable

a,b = b,a
print(a,b)

90 45

In [ ]:
# fabonacci 

a = 0 
b = 1
n = int(input("Enter number"))
for i in range(n):
    print(a,end=" ")
    a,b = b,a+b

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [ ]:
# ye n th number ka code h
a = 0
b = 1
n = int(input("enter the number: "))
for i in range(n):
    a,b = b,a+b
print(a)

55

In [19]:
for i in range(10,100):
    if i == 30:
        break
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [20]:
for i in range(10,100):
    if i == 30:
        continue
    print(i, end=" ")

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [21]:
for i in range(10,100):
    pass

In [30]:

n = int(input("Enter the number"))
for i in range(2,n):
    if n % i == 0:
        print("not prime")
        break
else:
    print("prime")

not prime

In [ ]:
# two number ke bich ke prime number nikalne hai

a = int(input("enter starting no: "))

b = int(input("Enter the end no: "))

for i in range(a,b):

In [ ]:
# factorial ka program

num = int(input("Enter the number: "))
fact = 1

for i in range(1,num+1):
    fact *= i
print(fact)

24

In [ ]:
# armstrong number hote hai 153  inki power nikalenge or sum krenge to 153 hi hoga

In [ ]:
# strong number me ham factorial nikalte hai fr uska sum jo hai vo ek jesa hotaa hai like 145 ka 145 hota hai

# while loop

In [2]:
num = 1

while num<=10:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
num = 10
while num >= 0:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1
0

In [11]:
password = ""
while password != "root":
    password = input("enter your password")

    if password != "root":
        print("invalid pass")

print("login")

invalid pass
invalid pass
login

In [3]:
attempts = 3

while attempts != 0:
    password = input("enter password: ")

    if password == "root":
        print("login")
    else:
        attempts -= 1
        print("wrong pass")
if attempts == 0:
    print("please enter valid password")

wrong pass
wrong pass
wrong pass
please enter valid password

In [5]:
num = 24975

count = 0

while num>0:
    num = num//10
    count+=1
print(count)

5

In [6]:
# gcd = greatest common division

a = 48 

b = 18

while b != 0 :
    a,b = b, a%b
print(a)

6

In [8]:
for i in range(3):
    for j in range(3):
        for k in range(3):
             print(i,j,k)

0 0 0
0 0 1
0 0 2
0 1 0
0 1 1
0 1 2
0 2 0
0 2 1
0 2 2
1 0 0
1 0 1
1 0 2
1 1 0
1 1 1
1 1 2
1 2 0
1 2 1
1 2 2
2 0 0
2 0 1
2 0 2
2 1 0
2 1 1
2 1 2
2 2 0
2 2 1
2 2 2

In [10]:
for i in range(1,6):
    for j in range(1,6):
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [11]:
for i in range(1,6):
    for j in range(1,6):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [13]:
for i in range(1,6):
    for j in range(1,6):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [15]:
for i in range(1,6):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444
55555

In [17]:
for i in range(1,6):
    for j in range(i):
        print(j,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [19]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [22]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [30]:
for i in range(1,6):
    for j in range(i,6):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [88]:
for i in range(1,6):
    for j in range(6-i):
        print(" ", end=" ")

    for j in range(1,i+1):
        print("*", end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [86]:
for i in range(1,6):
    for j in range(1,i):
        print(" ",end=" ")

    for j in range(6-i):
        print("*",end=" ")

    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [96]:
for i in range(1,6):
    for j in range(6-i):
        print(" ",end=" ")

    for j in range(1,i+1):
        print("*",end=" ")

    for j in range(1,i):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
for i in range(1,6):
    for j in range(6-i):
        print("",end=" ")
 
    for k in range(i):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
# for i in range(1,6):
#     for j in range(6-i):
#         print("",end=" ")
 
#     for k in range(i):
#         print("*",end=" ")
#     print()

# for i in range(1,6):
#     for j in  range(i-1):
#         print("*",end=" ")
#     print()

     *
    * *
   * * *
  * * * *
 * * * * *

*
* *
* * *
* * * *

# List Comprehension

In [1]:
lst = [3,6,4,7,8,11,13,71,1,7,22]
lst_comp = [i**2 for i in lst]
print(lst_comp)

[9, 36, 16, 49, 64, 121, 169, 5041, 1, 49, 484]

In [2]:
lst = [3,6,4,7,8,11,13,71,1,7,22]
lst_comp = [i**2 for i in lst if i%2 != 0]
print(lst_comp)

[9, 49, 121, 169, 5041, 1, 49]

In [5]:
m = ["machine",2,5,54,67,75,34,65,"learning"]
l1 = [i for i in m if type(i)==str]
l2 = [i for i in m if type(i)==int]
print(l1)
print(l2)

['machine', 'learning']
[2, 5, 54, 67, 75, 34, 65]